body{
    background-color: #FFE4E1;
    color:#C71585;
}
.tit{
    background-color: #FFE4E1;
    text-align: center;
    
}
.cachos{

    color: rgb(101, 15, 181);
}
.danosum{
    color:#CD5C5C;
}
.danosdois{
    color: #778899;
}
.danostres{
    color: #d7a117;
}