<form action="/add" method="Post">  <!-- forma como os dados de seu formulario serao enviados para o banco de dados--> 
<p>Cod</p>
<input type="text" name="cod"> <!-- precisaremos do nome para cadastrar as informacoes no bd-->
<p>Produto</p>
<input type="text" name="produto">
<p>Propriedades</p>
<textarea name="propriedades"></textarea>
<p>Linha</p>
<input type="text" name="linha">
<button type=""></button>
</form>

<!-- Nao precisa colocar a estrutura html, apenas o conteudo que queremos 
pois ja foi definido o main handlebars com a estrutura html-->

<!--GET - envia as informacoes pela url 
POST -Nao passa os dados pela url-->

<!--No action informa para qual rota quero 
enviar os dados do formulario-->

<!--/add rota que recebera as informacoes preenchidas no formulario-->
<!-- Formulario fa uma requisicao com metodo post-->


<hr>
